:root{
  --primary-color: rgba(116, 61, 32, 0.704);
  --primary-color-white: rgba(103, 67, 47, 0.824);
  --white-color: #fff;
  --black-color: #000;
  --gray-color-light: #eee;
  --gray-color-dark: #222;
  --brown-color: rgba(39, 20, 3, 0.851);
  --orange-color: rgb(246, 129, 11);
  --orange-2-color: rgb(215, 156, 96);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-color-light);

}
.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}

/* FLEX */
.flex {
  display: flex;
}
.horizontal{
  flex-direction: row;
}
.vertical{
  flex-direction: column;
  min-height: 100%;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

.flex-start,
.flex-end,
 .flex-center {
  align-items: center;
}
.flex-end{
  justify-content: flex-end;

}
.flex-center{
  justify-content: center;

}
.flex-start{
  justify-content: flex-start;
}

/* COMPONENTS */

.Barra-Topo{
  background-color: var(--black-color);
  margin-left: -2rem;
  z-index: 100;
  padding: 10px 20px;
  height: 2rem;
}

.Barra-Topo a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: bold;
}

.Menu {
  background-color: var(--brown-color);
  min-height: 100vh;
  margin-right: 2rem;
  padding: 1rem;
  box-shadow: 0 0 5px #111;
  
}

.Menu a {
  color: var(--white-color);
  text-decoration: none;  

}
.Menu a:hover {
  color: var(--orange-color);
  transition: 0.8s;

  
}

.menu-open{
width: 10rem;
}

.menu-item{
  height: 3rem;
}

.menu-item i {
  font-size: 1.4rem
}

.menu-item:hover, .menu-item-active{
  background-color: var(--primary-color-white);
  border-radius: 1rem;  
  transform: scale(1.1);
}

.item-top{
  padding: 1rem;
  padding-bottom: 0;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--white-color);
}

/* .items-wrapper{
  min-height: 100vh;
  background-color: var(--brown-color);
  margin-right: 2rem;
  padding: 1rem;
}
*/
.items-wrapper span{
  padding: 0.5rem;
} 


.Pedidos{
  min-height: 100%;
}

.fas {
  color: var(--orange-color);
}


.Card{
  margin: 1rem;
  padding: 3rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 0 0.5rem #7777;
  background-color: rgb(244, 244, 244);
}
.card{
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 0 0.5rem #7777;
  background-color: rgb(244, 244, 244);
}


.Pesquisa input{
  padding: 8px 15px;
  border: 1px solid #cccc;
  font-size: 1rem;
  border-radius: 10px;
  width: 80%;

}

.Pesquisa button{
  margin-left: -30px;
  background-color: transparent;
  font-size: 1.1rem;
  border: 0;
  cursor: pointer;
}

table.simples{
  margin-bottom: 5px;
  border-collapse: collapse;

}
table.simples td{
  padding: 30px;
  font-size: 1.2rem;
  border-bottom: 1px solid #999;

}

table.simples th{
  background-color: var(--primary-color-white);
  padding: 0.75rem;
  color: #fff;
  font-size: 1.1rem;
}

table.simples th:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

table.simples th:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button {
  font-size: 1rem;
  padding: 10px 16px;
  margin: 5px;
  border: 1px solid #aaaa;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(156, 156, 156);
}

.button-danger{
  background-color: var(--primary-color-white);
  color: var(--white-color);
  border-radius: 1rem;
}


.Recuperar-Senha{
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 0 0.5rem #7777;
  background-color: rgb(244, 244, 244);
}
.Resetar-Senha{
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 0 0.5rem #7777;
  background-color: rgb(244, 244, 244);
}

.Paginacao{
  display: flex;
  justify-content: flex-end;
}

.paginacao-item{
  font-size: 0.9rem;
  color: var(--gray-color-dark);
  padding: 5px;
  border: 1px solid #cccc;
  cursor: pointer;
}

.paginacao-item:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.paginacao-item:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paginacao-item:hover, .paginacao-item-active{
  background-color: var(--gray-color-dark);
  color: var(--gray-color-light);
  border: 1px solid var(--gray-color-dark);
}

.main{
overflow-y: scroll;
}


.Input-Simples label{
  margin: 5px 0 2px 0;
  font-weight: bold;
}
.Input-Simples input{
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid var(--gray-color-light);
  font-size: 0.95rem;

}

.Input-Valor{
  margin: 10px 0;
}

.Input-Valor input, .Input-Valor .input{
  border: 1px solid var(--gray-color-light);
  padding: 8px 12px;
  font-size: 0.95rem;
  border-radius: 10px;
}

.Input-Valor .input{
  background-color: var(--gray-color-light);
  color: var(--gray-color-dark);
}

.Input-Valor .input-nostyle{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* LOGIN */
.Login .Card{
  width: 95%;
  max-width: 26rem;
}
.Login h1{
  font-size:3rem;
  margin-bottom: 0;
  color: rgb(27, 1, 77);
}

.Login a {
  text-decoration: none;
  color: #474747
}

/* Recuperar senha */
.Recuperar-Senha .Card{
  width: 95%;
  max-width: 26rem;
}
.Recuperar-Senha h1{
  font-size:3rem;
  margin-bottom: 0;
  color: rgb(27, 1, 77);
}

.Recuperar-Senha a {
  text-decoration: none;
  color: #474747
}

/* Esqueceu senha */

.Resetar-Senha .Card{
  width: 95%;
  max-width: 26rem;
}
.Resetar-Senha h1{
  font-size:3rem;
  margin-bottom: 0;
  color: rgb(27, 1, 77);
}

.Resetar-Senha a {
  text-decoration: none;
  color: #474747
}

.Embed-container{
  height: 700px;
  width: 1450px;
  background-color: white;
}